body{
    /* background-color:honeydew; */
    background-image: url("bg.jpg");
    background-size:cover;
    /* height: 50;
    width: 100; */
}
h1,h3{
    font-family: monospace;
    text-align: center;
    padding-right: 5em;
}
h3{
    color:teal;
}
table{
    padding-top: 15em;
    /* padding-left: 5em; */
    border: 1px  rgb(40, 137, 161);
    font-family: monospace;
  }
th{
    padding-left: 10em;
}

